.table-container {
    font-family: "IRANSans", sans-serif;
    font-size: 0.8rem; /* Smaller font size */
    margin: 20px;
}

.company-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.company-table th, .company-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: right;
}

.company-table th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.company-table tr {
    background-color: rgba(250, 251, 254, 0.57);
}
/*.recipient-table tr:nth-child(even) {*/
/*    background-color: #f9f9f9;*/
/*}*/

.company-table tr:hover {
    background-color: #f1f1f1;
}

.form-control {
    width: 100%;
    padding: 6px 12px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    margin: 4px;
    padding: 4px 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #1e7e34;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #bd2130;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
}

.btn-warning:hover {
    background-color: #d39e00;
}

.table-header-row {
    background-color: #f2f2f2; /* Header background color */
}

.table-header-row th {
    padding: 8px; /* Padding inside header cells */
}

.table-search-input {
    width: 100%; /* Full width of the cell */
    padding: 6px 12px; /* Padding inside input */
    border: 1px solid #ddd; /* Border around the input */
    border-radius: 4px; /* Rounded corners */
    font-size: 0.8rem; /* Smaller font size for input text */
}

/* For the date input specifically */
.table-search-input[type="date"] {
    direction: ltr; /* Keep the direction left-to-right for date inputs */
}

/* Adjustments for the search input placeholders */
.table-search-input::placeholder {
    font-family: "IRANSans", sans-serif; /* Font family for placeholders */
    text-align: right; /* Align placeholder text to the right */
    opacity: 0.7; /* Slightly transparent placeholder */
}

