body {
    background-image: url("/src/components/assets/img/login-background.jpg"); /* Adjust the path as needed */
    background-size: cover; /* Adjust as needed */
    /* Other background properties can be added here (e.g., background-repeat, background-position) */
}

.label {
    font-family: "IRANSans", sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
}

.container-fluid {
    font-family: "IRANSans", serif;
    border: 1px #ccc solid;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    /* Additional styles from inline styles */
    /* Add more styles here if needed */
}

.container-fluid > * {
    margin: 0;
}

.container-fluid > *:not(:last-child) {
    margin-right: 0.5rem; /* Adjust the horizontal margin as needed */
}

.table-cell {
    font-family: "IRANSans", sans-serif;
    font-size: 0.75rem;
}
.table-header {
    font-family: "IRANSans", sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
}



