.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/src/components/assets/img/login-background.jpg");
}

.login-form {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 60%;
    width: 300px;
    box-sizing: border-box;
}

.login-title {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Arial', sans-serif; /* Customize with the font of your choice */
}

.login-form input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background: #2f54a5; /* Customize your button color */
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
}

.login-form button:hover {
    background: #ff7b81;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.login-links {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.login-links a {
    color: #ff5e62;
    text-decoration: none;
}

.login-links a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

